*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: ??;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1 {
    color: rgb(0, 86, 152);
    text-align: center;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    margin: 20px auto 20px auto;
    font-size: 100px
}

h2 {
    color: rgb(0, 86, 152,50%);
    text-align: center;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    margin: 20px auto 20px auto;
    font-size: 50px;
}

body {
    background-color: rgb(0, 86, 152, 10%);
  }
section {
    background: whitesmoke;
    height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-nav a {
    color: aliceblue;
    background: rgb(0, 86, 152);
    height: 64px;
    font-family: lato;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    transition: background 0.4s;
}

#main-nav a:hover {
    background: #273261;
}

#main-nav ul {
    width: 100%;
    list-style: none;
    display: flex;
}

#main-nav li {
    width: 100%;
    text-align: center;
    position: relative;
}

#main-nav li:hover .submenu > li {
    display: block;
    flex-direction: column;
    top: 0px;
}

.submenu li {
    display: none;
    position: absolute;
    top: 0px;
}

.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100‰;
}

.submenu li {
    position: relative;
}

.submenu li:hover .submenu-2 li {
    display: block;
}

.arrow {
    border: white;
    margin-left: 8px;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.responsive {
    max-width: 100%;
    height: auto;
    background-color: azure;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

p {
    text-align: center;
    padding: 10px;
    color: rgb(0, 86, 152);
}
.p1 {
    text-align: center;
    padding: 10px;
    color: yellow 
}

.footer {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #273261;
}
/*@media screen and (min-width: 750px) {
    body{background-color: blue;}
    */
    
    .submenu li {
        display: block;
        position: static;
        top: 0px;
        flex-direction: column-reverse;
    }

    .navi {
    background-color: aqua;
    flex-direction: row;}

    .submenu {
        flex-direction: row;
    }
   .navigation ul {
        background-color: rgb(229, 0, 0);
        display: ;
    }
@media screen and (min-width: 750px)
{
#main-nav ul {
    flex-wrap: nowrap;
}
}

.forsidebillede {
    border: 10px solid rgb(0, 86, 152);
    display: block;
    margin: 50px auto 30px auto;
    background-color: rgb(0, 86, 152)
}


.divV {
    width: 100px;
    height: 100px;
    background-color:rgb(0, 86, 152);
    border: 10px solid black;
    animation-name: moveboxone;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin: 0%;
}
@keyframes moveboxone {
    0%{
        transform: translateX(100px) translateY(100px);
    }
    25%{
        transform: translateX(500px) translateY(100px);
    }
    50%{
        transform: translateX(500px) translateY(500px);
    }
    75%{
        transform: translateX(100px) translateY(500px);
    }
    100%{
        transform: translateX(100px) translateY(100px);
    }
}

@keyframes typewriter {
    from { 
        width: 0;
    }
    to {
        width: ;
    }
}

div {

}